<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Logbook</title>
    <base href="/">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <div class="container">
      <div>         
        <header>                    
          <img src="assets/logo.svg" alt="logo" class="logo" routerLink="/homepage">      
        </header>            
      </div>
    </div>   
    <form [formGroup]="ChangePassForm" (submit)="checkInput()">    
      <div class="center">
        <div class="change-password-form">        
          <i class="fa fa-user-circle-o" 
             style="font-size:36px"></i>  
          <h1>Change password</h1>
          <input name="password"
                 type = "password"
                 [type]="showPassword ? 'text' : 'password'"
                 class="input-box"
                 id="password-field" 
                 placeholder="Password"
                 formControlName="password">
          <div>
            <i alt="show" 
               class="fa fa-eye eye-show"
               (click)="showPassword = !showPassword"
               [class.hide]="showPassword"
               style="margin-left: 110px; margin-top: -36px; position:absolute; cursor: pointer;"></i>
            <i alt="hide" 
               class="fa fa-eye-slash eye-hide"
               (click)="showPassword = !showPassword"
               [class.hide]="!showPassword"
               style="margin-left: 110px; margin-top: -36px; position:absolute; cursor: pointer;"></i>     
          </div>         
          <span id="error-password"></span>
          <input name="repassword"
                 type= "password"
                 [type]="showConPassword ? 'text' : 'password'"
                 class="input-box"
                 id="repassword-field" 
                 placeholder="Confirm password"
                 formControlName="repassword">
          <div>
            <i alt="show"
               class="fa fa-eye eye-show"
               (click)="showConPassword = !showConPassword"
               [class.hide]="showConPassword"
               style="margin-left: 110px; margin-top: -36px; position:absolute; cursor: pointer;"></i>
            <i alt="hide" 
               class="fa fa-eye-slash eye-hide"
               (click)="showConPassword = !showConPassword"
               [class.hide]="!showConPassword"
               style="margin-left: 110px; margin-top: -36px; position:absolute; cursor: pointer;"></i> 
          </div>         
          <span id="error-repassword"></span>
          <br>
          <span id="password-match"></span>
          <button type="submit" class= "changepass-btn" >Change password</button>
          <br>
          <br>
          <br>      
        </div>       
      </div>
    </form>
    <div class="footer">
      <footer>
        <p style="font-size: 13px;">© 2021 Copyright Logbook. All rights reserved.</p>           
      </footer>      
    </div>             
  </body>   
</html>
