<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
</head>
<body>
<div>
<div class="wrapper">
    <div class="left">
        <img src="https://www.shareicon.net/data/512x512/2017/01/06/868320_people_512x512.png" 
        alt="user" width="100">
        <br>
        <br>
        <span id="Logbook user"></span>  
        <br>
        <br>
        <span id="Role"></span>  
         <div class="goBack">
            <div class="element">
              <a onclick="history.back()"><p class="gb">&#8592;</p></a>
            </div>
         </div>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
              <div class="data">
                 <h4>Name and Surname</h4>
                 <h4><span id="Name and Surname"></span></h4>
                 
              </div>
              <br>
              <div class="data">
                <h4>Phone</h4>
                <h4><span id="Phone number"></span></h4>
               </div>
               <br>
               <div class="data">
             <h4>Address</h4>
             <h4><span id="Address"></span></h4>
        </div>
        <br>
           <div class="data">
             <h4>Email</h4>
             <h4><span id="Email address"></span></h4>
          </div>
          <br>
         </div>
     </div>
            
      <div class="projects">
            <h3>Projects</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Project name</h4>
                    <p>Short description</p>
                 </div>
                 
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>