@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  display: flex;
  min-height: 100%;
  min-width: 1024px;
  flex-direction: column;
  font-family: Arial;
  background-image: url("https://img.freepik.com/free-photo/blur-hospital_1203-7972.jpg?size=626&ext=jpg");
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right, black, black);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left .name{
  margin-bottom: 10px;
  font-size: 25px;
}

.wrapper .left p{
  font-size: 18px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  flex-direction: column;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 70%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 18px;
  margin-bottom: 20px;
  color: #434a52;
}

.wrapper .goBack .element{
  display: flex;
  flex-direction: row;
  margin-top: 95%;
}

.wrapper .goBack .element a{
  width: 60px;
  height: 50px;
  background: linear-gradient(to right,#2fb7b9,#008888);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .goBack .element a{
  color :#fff;
  display: block;
  text-decoration: none;
  padding: 5px;
}

.wrapper .goBack .element a .gb{
    font-size: 50px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.wrapper .goBack .element a .gb:hover{
    color: rgb(182, 83, 103);
}
/* responsive */
@media screen and (max-width: 475px) {
  .wrapper{
    height: 450px;
    width: 350px;
    position: fixed;
    margin-left: 2px;
    
  }
} 
