<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Logbook</title>
    <base href="/">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <div class="container">
      <div>         
        <header>                    
          <img src="assets/logo.svg" alt="logo" class="logo" routerLink="./homepage">      
        </header>            
      </div>
    </div>   
    <form [formGroup]="ForgotPassForm" (submit)="checkEmail()">    
      <div class="center">
        <div class="change-password-form">        
          <i class="fa fa-user-circle-o" style="font-size:36px"></i>  
          <h1>Reset password</h1>
          <input name="email" id="email" type="text" formControlName="email" class="input-box" placeholder="Your Email"><br>
          <span id="error-email"></span>
          <span id="error-send"></span>
          <button type="submit" class= "changepass-btn" >Reset password</button>
          <br>
          <span style='font-size:80px;'class="arrow" onclick="history.back()">&#8592; </span>
          <p class="goback">Go back!</p>             
        </div>       
      </div>
    </form>
    <div class="footer">
      <footer>
        <p style="font-size: 13px;">© 2021 Copyright Logbook. All rights reserved.</p>           
      </footer>      
    </div>             
  </body>   
</html>