* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100%;
    min-width: 1024px;
    flex-direction: column;
    font-family: Arial;
    background-image: url("https://img.freepik.com/free-photo/blur-hospital_1203-7972.jpg?size=626&ext=jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.container {
    flex: 1;
}

header {
    display: flex;
    justify-content: left;    
}

.center {
    display: flex;
    min-height: 700px;
}

.footer {
    display: flex;
    flex-direction: column;
    background:none;
}

footer {
    display: flex;
    justify-content: center;
    min-height: 50px;
  
}
/* ---------------------- Change password form ------------------------------*/

.change-password-form h1
{
    color:dodgerblue;
    margin-bottom:25px;
}

.input-box
{
    border-radius: 20px;
    padding: 10px ;
    margin: 10px ;
    width: 260px;
    border: 1px solid black;
    outline: none;
}

.change-password-form
{
    width: 320px;
    box-shadow: 0 0 3px 0 ;
    color: black;
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    height:280px;
    border-radius: 5%;
}

.changepass-btn
{
    background-color:dodgerblue;
    color:black;
}
  
button
{
    color: solid blue;
    width:100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin:10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.arrow 
{
    position: relative;
    color: dodgerblue;
    top: -35px;
    cursor: pointer; 
}

.goback 
{
    position: relative;
    top: -60px;
    font-size: 15px;
    color: dodgerblue;
    cursor: pointer;
}

.arrow:hover
{
    border-radius: 15px;
    color:crimson;
}

/*responsive */

@media screen and (max-width: 375px){
    .change-password-form
    {
        margin-left: 18px;
    }

    footer
    {
        margin-left:45px;
        justify-content: left;   
    }
  
    .change-password-form
    {
        width: 290px;
    }

    header
    {
        margin-left: 0px;
    }
}
