<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<div>
<header>
<nav>
<div class="test1">
<img src="assets/logo.svg" alt="logo" class="logo" routerLink="/admin-dashboard">
<div class="nav-items">
<a href="#home" routerLink="/admin-dashboard">Home</a>
</div>
</div>
<div class="logout">
<button class="logout-button" > 
<a href="#" routerLink="/admin-dashboard"><i class="fa fa-user-circle-o" style="font-size:36px" ></i></a>
</button> 
</div> 
</nav>
</header>
<div class="center">
<div class="text">
<h2>Logbook</h2>
<br>
<p>Logbook is an application that is being used for tracking the progress of the students.</p>
<br>
<p>It was created in 2021. The logbook facilitates the work of teachers and students. </p>
<br>
<ul>Application have three parts :</ul>
<li>Admin</li>
<li>Professor</li>
<li>Student</li>
<br>
<b>Admin</b> have a role :
<li>Add new user</li>
<li>List of student</li>
<li>List of professor</li> 
<br>
<b>Student</b> have a role :
<li>Add new patients.</li>
<li> Student already have available list of examined patients. </li>
<br>
<b>Professor :</b>
<li>Role of the professor is to evaluate student when he examines every patient.</li>
<br>
<p>The logbook application was created by Azra Atić, Azhar Mehić, Ahmed Memić, Mustafa Begović and Kerim Muharembegović</p>
</div>

</div>
<footer>
<p style="font-size: 13px;">© 2021 Copyright Logbook. All rights reserved.</p>
</footer>
</div>
</body> 
</html>